apiVersion: v1
kind: Secret
metadata:
  name: db-secret
  namespace: {{ app_namespace }}
type: Opaque
data:
  DB_USER: "{{ db_user | b64encode }}"
  DB_PASSWORD: "{{ db_password | b64encode }}"
  MYSQL_ROOT_PASSWORD: "{{ db_root_password | b64encode }}"