apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: java-ingress
  namespace: {{ app_namespace }}
spec:
  ingressClassName: nginx
  rules:
    - host: {{ app_host }}
      http:
        paths:
          - path: /
            pathType: Prefix
            backend:
              service:
                name: java-service
                port:
                  number: 80